* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

#users {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d56e00;
    width: 20%;
    float: right;
    height: 100vh;
}

    #users li {
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        color: #4AFF58;
        border-radius: 5px;
        background: black;
    }

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #9fc2c9;
    width: 80%;
    float: left;
    height: 100vh;
}

    #messages li {
        padding: 5px 10px;
    }

        #messages li:nth-child(odd) {
            background: #eee;
        }
